@import "./base/variable.scss";

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
        "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg);
    --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
    color-scheme: light;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-control {
    height: 50px;
    padding-left: 38px !important;
    color: $black !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    border: 1px solid $border_color !important;

    &:focus {
        border: 2px solid $active_border_color !important;
        box-shadow: none !important;
    }

    &::placeholder {
        color: $placeholder !important;
        font-size: 15px;
    }
}


.form-label {
    margin-bottom: 0.5rem !important;
    font-size: 14px;
    font-weight: 600;
    color: $black;
    text-transform: capitalize;

    span {
        color: $dark_red_2;
        font-size: 14px;
    }
}

.error-msg {
    color: $error_color !important;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
}

.btn-primary {
    background: $primary_color !important;
    color: $white !important;
    font-size: 14px !important;
    font-weight: 600;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 4px;
    border: 1px solid $primary_color !important;

    &:hover {
        border-color: transparent;
    }

    &:focus {
        border-color: transparent !important;
    }
}

.form-switch {
    display: flex;
    align-items: center;

    .form-check-input {
        height: 20px;
        width: 40px !important;
        border: 1px solid $primary_color;

        &:focus {
            border: 1px solid $primary_color;
            background-image: url("../images/circle.svg");
            box-shadow: none;
        }

        &:checked {
            border: 1px solid $primary_color;
            background-color: $primary_color;
            background-image: url("../images/circle1.svg");
        }
    }

    .form-check-label {
        color: $black;
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px !important;
        margin-top: 3px !important;
    }
}

.form-check-input {
    border-color: $primary_color !important;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: $primary_color !important;
    border-color: $primary_color;
}

.form-check-input:focus {
    border-color: $primary_color !important;
    outline: 0;
    box-shadow: 0 0 0 0 transparent !important;
}

.table-responsive {
    min-height: 40vh !important;

    .table {
        overflow: auto;
        border-collapse: separate;
        border-spacing: 0 15px;
        padding-left: 10px;
        padding-right: 10px;

        thead {
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);

            th {
                cursor: pointer;
                white-space: nowrap;
            }
        }

        tbody {
            tr {
                -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);

                td {
                    white-space: nowrap;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: $border_color !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary_color !important;
    }
}

.sidebarNew_main___eyyq {
    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: $primary_color !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $placeholder !important;
    }
}

.navbar-toggler {
    color: $white;
    background-color: $primary_color !important;
    margin-right: 21px;
    border: 2px solid white !important;
    &:focus {
        outline: none !important;
        border: 2px solid $black2 !important;
        box-shadow: none !important;
    }
}