@import "./base/variable.scss";

.layoutMain {
    background-color: $background;
    min-height: 100vh;
    .row {
        display: flex;
        .left {
            width: 17%;
        }
        .right {
            width: calc(100% - 16%);
            position: relative;
            padding-inline: 20px;
            .poweredBy {
                position: fixed;
                bottom: 0;
                padding: 10px;
                width: calc(100% - 14%);
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
                z-index: 99;
                .text {
                    color: $primary_color;
                    font-size: 12px;
                    a {
                        color: $primary_color;
                        font-weight: 600;
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1399px) {
    .layoutMain {
        .row {
            .left {
                width: 18%;
            }
            .right {
                width: calc(100% - 18%);
                .poweredBy {
                    width: calc(100% - 18%);
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .layoutMain {
        .row {
            .left {
                width: 22%;
            }
            .right {
                width: calc(100% - 22%);
                .poweredBy {
                    width: calc(100% - 22%);
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .layoutMain {
        .row {
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                .poweredBy {
                    width: 100%;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .layoutMain {
        .row {
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                .poweredBy {
                    width: 100%;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .layoutMain {
        .row {
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                .poweredBy {
                    width: 100%;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .layoutMain {
        .row {
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                .poweredBy {
                    width: 100%;
                }
            }
        }
    }
}
