// Clearfix
@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

@mixin gradient($to, $position, $first_color, $second_color)
{
	background: -webkit-linear-gradient($position, $first_color, $second_color);
	background: -o-linear-gradient($position, $first_color, $second_color);
	background: linear-gradient(to $to, $first_color, $second_color);
}