$primary_color:  #FF7A00;
$secondary_color: #faf7f3;
$white : #FFFFFF;
$black:#111111;
$black2:#252424;
$grey:rgb(134, 130, 130);
$light_yellow:#ffe7d0;
$light_yellow1: #ffebd9;
$darkGrey : #808080;
$background: #fcfaf7;
$red:#E84748;
$light_grey: #e7e4dd;
$light_green: #E1ECCF;
$Ggreen:#0EBE7E;
$inactive_bg: #FFD3D3;
$dark_red_2: #D81B23;
$light_purple : #ffebd9;
$dark_purple : #696cff;
$skype: #02b4eb;
$pinterest: #dd0017;
$rss: #FCA137;
$light_sky: #6284FF;
$dark_sky : #03c3ec;
$active: #2ef007;
$inactive:#ff021c;
$yellow : #eeb90b;
$lightYellow:#fff6da;
//---input field------>
$border_color:rgb(201, 201, 200);
$border_color2:#ebebeb;
$active_border_color:#ffebd9;
$placeholder:rgb(202, 202, 200);
$icon_color:rgb(157, 158, 153);
$error_color:#FF0000;
$Selected_border_color : '#c1bff7'