.accordion-button {
    background-color: transparent !important;
    padding-block: 5px !important;
    font-size: 15px !important; 
    color: #111111!important;
    padding-inline: 5px !important;
    justify-content: space-between !important;
    border: 1px solid transparent !important;
}

.accordion-button:focus {
    outline: none !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
}

.accordion-button:active {
    outline: none !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
}

.left {
    flex: 0.14;
}

.center {
    flex: 0.76;
    color: #111111 !important;
    font-size: 15px;
    font-weight: 500;
    padding-left: 6px;
}

.right {
    flex: 0.10;
    display: flex;
    justify-content: flex-end;
}

.accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: transparent;
    box-shadow: none !important;
}

/* .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
} */

.accordion-button::after {
    background-image: none !important;
    display: none;
}
 
.accordion-body {
    padding: 0px !important;
}

.text-body {
    text-decoration: none !important;
    display: block !important;
    margin: 10px !important;
    padding-block: 7px !important;
    padding-inline: 8px !important;
    background-color: transparent;
    border-radius: 5px !important;
    font-size: 15px !important;
    color: #111111 !important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 30px !important;
}

.text-body a {
    color: #111111;
    text-decoration: none;
}

.main-body {
    text-decoration: none !important;
    padding: 0 !important;
}

.text-body:hover {
    border-left: 5px solid #FF7A00;
    border-right: 5px solid #FF7A00;
    border-radius: 30px !important;
    background-color: #ffe7d0;
    color:#FF7A00 !important;
    font-size: 15px;
    font-weight: 600; 
}

.text-body:hover a {
    background-color: #ffe7d0;
    color: white !important;
    font-size: 15px;
    font-weight: 600;
}

.text-body:hover .icon-left {
    background-color: white;
    color: #FF7A00 !important;
    font-size: 15px;
    padding: 7px;
    border-radius: 20px;
}

.text-body.active {
    border-left: 5px solid #FF7A00;
    border-right: 5px solid #FF7A00;
    border-radius: 30px !important;
    background-color: #ffe7d0;
    color: white !important;
    font-size: 15px;
    font-weight: 600;
}

.text-body.active .icon-left {
    background-color: white;
    color: #FF7A00 !important;
    font-size: 15px;
    font-weight: 600;
    padding: 7px;
    border-radius: 20px;
}

.text-body .icon-left {
    background-color: #F5F4FE;
    color: #111111!important;
    font-size: 15px;
    padding: 7px;
    border-radius: 20px;
}

.text-body.active a {
    background-color: #ffe7d0;
    color: #FF7A00 !important;
}

.text-body:hover a {
    background-color: #ffe7d0;
    color: #FF7A00 !important;
}

.accordion-button:not(.collapsed) .class-icon {
    transform: rotate(90deg);
}

.icon-left {
    margin-right: 8px;
    /* color: red; */
    height: 15px;
    width: 15px;
}

/* .icon-left:hover {
    margin-right: 12px;
    color: #11C081;
    height: 15px;
    width: 15px;
} */

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {}