@import '../base/variable.scss';
@import '../base/mixins.scss';

.main{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px $primary_color;
    .header{
        border-bottom: 1px solid $light_grey;
        padding-inline: 40px;
        .heading{
        font-size: 18px;
        font-weight: 600;
        color: $black2;
        padding-left: 12px;
        padding-block: 15px;
        }
    }
   
    .formArea{
        padding-block: 20px;
        padding-inline: 40px;
         .form_group{
            margin-bottom: 15px;
            position: relative;
           .form_control {
                padding-left: 15px !important;
            }
            .textArea {
                width: 100%;
                min-height: 110px;
                padding-left: 15px;
                padding-block: 10px;
                color: $black;
                font-size: 14px;
                border-radius: 5px;
                border: 1px solid $border_color;
                margin-bottom: -6px;
                &:focus {
                    outline: none !important;
                    border: 2px solid $active_border_color !important;
                }
                &::placeholder {
                    color: $placeholder;
                }
            }
        }
        .viewBtn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-top: 10px;
                .btn {
                    background: $primary_color;
                    color: $white ;
                    font-size: 14px;
                    font-weight: 600;
                    padding-block: 10px;
                    padding-inline: 20px;
                    border-radius: 4px;
                    border: 1px solid $primary_color;
                    &:hover{
                        border-color: transparent;
                    }
                    &:focus{
                        border-color: transparent !important;
                    }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1399px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
}

/* Smaller phones */
@media (max-width: 360px) {
}
