@import '../base/variable.scss';
@import '../base/mixins.scss';

.main {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px $primary_color;

    .formArea {
        padding-block: 20px;
        padding-inline: 40px;

        .viewImage {
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .form_group {
            margin-bottom: 15px;
            position: relative;

            .form_control {
                padding-left: 15px !important;
            }

            .textArea {
                width: 100%;
                min-height: 110px;
                padding-left: 15px;
                padding-block: 10px;
                color: $black;
                font-size: 14px;
                border-radius: 5px;
                border: 1px solid $border_color;
                margin-bottom: -6px;

                &:focus {
                    outline: none !important;
                    border: 2px solid $active_border_color !important;
                }

                &::placeholder {
                    color: $placeholder;
                }
            }

            .clearIcon {
                position: absolute;
                bottom: 55px;
                right: 0px;
            }
        }

        .addIcon {
            display: flex;
            align-items: center;

            .addMore {
                font-size: 14px;
                color: $black;
                font-weight: 500;
                padding-left: 10px;
            }
        }


        .checkBoxMain {
            padding-top: 10px;
        }

        .viewBtn {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top: 10px;

            .btn {
                background: $primary_color;
                color: $white ;
                font-size: 14px;
                font-weight: 600;
                padding-block: 10px;
                padding-inline: 20px;
                border-radius: 4px;
                border: 1px solid $primary_color;

                &:hover {
                    border-color: transparent;
                }

                &:focus {
                    border-color: transparent !important;
                }
            }
        }
    }
}