@import '../base/variable.scss';
@import '../base/mixins.scss';

.main{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px $primary_color;
   
    .formArea{
        padding-block: 20px;
        padding-inline: 40px;
        .viewImage{
          padding-top: 10px;
          padding-bottom: 30px;
        }
         .form_group{
            margin-bottom: 15px;
            position: relative;
            .iconView {
                position: absolute;
                top: 44px;
                left: 12px;
                .icon {
                font-size: 15px;
                color:  $icon_color ;
                }
                .iconActive {
                font-size: 15px;
                color: $primary_color ;
                }
            }
        }
          .viewBtn {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  padding-top: 10px;
                  .btn {
                     background: $primary_color;
                     color: $white ;
                     font-size: 14px;
                     font-weight: 600;
                     padding-block: 10px;
                     padding-inline: 20px;
                     border-radius: 4px;
                     border: 1px solid $primary_color;
                     &:hover{
                           border-color: transparent;
                     }
                     &:focus{
                           border-color: transparent !important;
                     }
               }
            }
    }
}