@import '../base/variable.scss';
@import '../base/mixins.scss';

.modal{
    .main {
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
        padding-block: 2rem;
        align-items: center;
        justify-content: center;
    
        .IconMain {
            height: 180px;
            width: 310px;
            margin: 0 auto;
            // border-radius: 50px;
            // border: 1px solid $red;
            // background-color: $inactive_bg;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // align-self: center;
            .image{
                height: 100%;
                width: 100%;
                object-fit : cover;
            }
    
            .deletIcon {
                height: 40px;
                width: 40px;
                color: $red;
            }
        }
    
        .message {
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 16px;
            color: $black2;
            font-weight: 500;
            text-align: center;
        }
    
        .buttonMain {
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            .closeButton {
                background-color: $white !important;
                color: $primary_color !important;
                margin-right: 1rem;
                font-weight: 500;
                padding-inline: 25px;
            }
    
            .submitButton {
                background-color: $primary_color;
                border-width: 0;
                color: $white;
                font-weight: 500;
                padding-inline: 25px;
            }
        }
    
        .closeIconAbsulate {
            position: absolute;
            top: 10px;
            right: 18px;
    
            .icon {
                height: 25px;
                width: 25px;
                color: $black;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
 .modal{
    padding-inline: 10px;
    .main {
        .IconMain {
            height: 80px;
            width: 80px;
            .deletIcon {
                height: 30px;
                width: 30px;
            }
        }
        .message {
            font-size: 16px;
        }
        .buttonMain {
            .closeButton {
                font-size: 15px;
            }
            .submitButton {
                font-size: 15px;
            }
         }
      }
   }
}

/* Smaller phones */
@media (max-width: 360px) {
 .modal{
    padding-inline: 10px;
    .main {
        .IconMain {
            height: 80px;
            width: 80px;
            .deletIcon {
                height: 30px;
                width: 30px;
            }
        }
        .message {
            font-size: 16px;
        }
        .buttonMain {
            .closeButton {
                font-size: 15px;
            }
            .submitButton {
                font-size: 15px;
            }
         }
      }
   }
}