@import "../base/variable.scss";
@import "../base/mixins.scss";

.main{
    width: 100%;
    height: 100vh;
    background-color: $white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}