@import '../base/variable.scss';
@import '../base/mixins.scss';

.main {
    position: relative;

    .dateinput {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid $border_color;
        cursor: pointer;
        color: $black;
        padding-left: 30px;
        font-size: 14px;

        &:focus {
            outline: none !important;
            border: 2px solid $active_border_color !important
        }

        .dateText {
            color: $black;
            font-size: 6px;
            font-weight: 500;
        }

        // Target the input element inside .dateinput
        input {
            color: $black;
            border: 1px solid $primary_color; // Maintain the green border color
            outline: none; // Remove the default outline on focus (optional)
        }

        // Add :focus style to the input element
        input:focus {
            border: 1px solid $primary_color; // Maintain the green border color when focused
        }
    }


    .calander {
        // border-width: 1px;
        // width: 150px;
        // height: 120px
    }

    .popperContainer {
        margin-top: -10px;
        // background-color: aqua;
    }

    .wrapperClass {}

    .iconView {
        position: absolute;
        z-index: 1;
        top: 3px;
        left: 13px;
        width: 15px;
        cursor: pointer;
        .icon {
            font-size: 14px;
            color: $grey ;
        }
        .activeIcon {
            font-size: 14px;
            color: $primary_color ;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .main {
        .dateinput {
            height: 35px;
        }

        .iconView {
            top: 7px;

            .icon {
                font-size: 13px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .main {
        .dateinput {
            height: 35px;
        }

        .iconView {
            top: 7px;

            .icon {
                font-size: 13px;
            }
        }
    }
}