.react-datepicker__triangle {
    display: none;
}

.react-datepicker__calendar-icon{
    height: 22px;
    width: 14px;
    color:black;
    z-index: -99;
}
.react-datepicker__input-container {
    position: relative;
  }
  

.react-datepicker__day.react-datepicker__day--keyboard-selected {
    border: none;
    border-radius: 7px;
    background-color: var(--dark);
    color: var(--white);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
    border: none;
    border-radius: 7px;
    background-color: var(--dark);
    color: var(--white);
}
.react-datepicker__navigation-icon{
    color: #000;
} 

.react-datepicker__navigation-icon--next{
    color: #000;
}
.react-datepicker-popper .react-datepicker__navigation {
    padding-top: 12px;
    color: #000;
}
.react-datepicker__month-container{
    overflow: hidden;
}

.react-datepicker {
    box-shadow: 0 0 20px 0 rgba(111, 110, 110, 0.189);
    border: 1px solid #DCDBFA !important;
    font-family: "Inter" !important;
}

.react-datepicker__header {
    border-bottom: solid 5px var(--light) !important;
    background: #DCDBFA !important;
}

.react-datepicker__current-month {
    color: var(--dark) !important;
}

.react-datepicker__day.react-datepicker__day--today {
    border-radius: 7px;
    border: solid 2px var(--brand) !important;
    background-color: #5149E5 !important;
    color: #ffffff !important;
    width: 30px;
    height: 26px;
}

.react-datepicker__day.react-datepicker__day--selected {
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
    border: none;
    border-radius: 7px !important;
    background-color: var(--brand) !important;
    color: var(--dark) !important;
}

.react-datepicker-popper.datepicker_popperContainer__x3tzc{
  z-index: 3 !important;
}

.react-datepicker-wrapper{
    width: 100% !important;
}