@import "../base/variable.scss";
@import "../base/mixins.scss";

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background;

    .buttonBar {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: $white;

        .leftArea {
            display: flex;
            align-items: center;

            .dropArea {
                margin-right: 15px;
                .dropdown {
                    .dropdown_toggle {
                        width: 115px;
                        display: flex;
                        align-items: center;
                        color: $black;
                        font-size: 16px;
                        padding-inline: 6px;
                        background-color: $white;
                        border: 1px solid $border_color2;
                        padding-inline: 22px;
                        padding-block: 12px;
                        border-radius: 10px;
                        &:focus {
                            box-shadow: 0px 0px 0px 2px $active_border_color;
                        }

                        .selcteMain {
                            padding-inline: 10px;
                            padding-block: 3px;
                            border-radius: 5px;
                            background-color: $light_sky;

                            .selectedLabel {
                                font-size: 14px;
                                font-weight: 500;
                                color: $dark_sky;
                            }
                        }
                    }

                    .dropdown_menu {
                        min-width: 115px !important;
                        border: none;
                        box-shadow: 0px 0px 10px 1px $light_grey;

                        .dropdown_item {
                            display: flex;
                            align-items: center;
                            color: $black2;
                            font-size: 14px;
                            font-weight: 500;

                            &:focus {
                                background-color: $active_border_color;
                            }
                            &:hover {
                                background-color: $primary_color;
                                color: $white;
                                .dropDownIcon {
                                    color: $white;
                                }
                            }
                        }

                        .divider {
                            background-color: $light_grey;
                            opacity: 0.3;
                        }
                    }

                    .dropDownIcon {
                        color: $primary_color;
                        font-size: 12px;
                        padding-right: 8px;
                    }
                }
            }
            .pazinationArea {
                margin-right: 15px;
                .dropdown {
                    .dropdown_toggle {
                        width: 75px;
                        display: flex;
                        align-items: center;
                        color: $black;
                        font-size: 16px;
                        padding-inline: 6px;
                        background-color: $white;
                        border: 1px solid $border_color2;
                        padding-inline: 22px;
                        padding-block: 12px;
                        border-radius: 10px;
                        &:focus {
                            box-shadow: 0px 0px 0px 2px $active_border_color;
                        }
                    }

                    .dropdown_menu {
                        border: none;
                        box-shadow: 0px 0px 10px 1px $light_grey;
                        min-width: 75px !important;
                        .dropdown_item {
                            display: flex;

                            align-items: center;
                            justify-content: center;
                            color: $black2;
                            font-size: 16px;
                            &:focus {
                                background-color: $active_border_color;
                            }
                            &:hover {
                                background-color: $primary_color;
                                color: $white;
                            }
                        }
                        .divider {
                            background-color: $light_grey;
                            opacity: 0.3;
                        }
                    }
                }
            }
            .form_group {
                position: relative;
                width: 100%;
                .form_control {
                    height: 50px;
                    padding-left: 22px !important;
                    padding-right: 44px !important;
                    color: $black !important;
                    font-size: 16px !important;
                    border-radius: 10px !important;
                    border: 1px solid $border_color2 !important;
                    &:focus {
                        border: none;
                        border: 2px solid $active_border_color !important;
                    }
                    &::placeholder {
                        color: $black !important;
                        font-size: 15px;
                    }
                }
                .iconView {
                    position: absolute;
                    top: 14px;
                    right: 22px;
                    .icon {
                        font-size: 16px;
                        color: $black;
                    }
                }
            }
        }
        .rightArea {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .dropBulkAction {
                .dropdown {
                    .dropdown_toggle {
                        width: 115px;
                        display: flex;
                        align-items: center;
                        color: $white;
                        font-size: 15px !important;
                        padding-inline: 6px;
                        background-color: $primary_color;
                        border: 1px solid $border_color2;
                        padding-inline: 22px;
                        padding-block: 12px;
                        border-radius: 10px;
                            .selectedLabel {
                                font-size: 15px;
                                font-weight: 500;
                                color: $white;
                                padding-right: 5px;
                            }
                    }

                    .dropdown_menu {
                        min-width: 115px !important;
                        border: none;
                        box-shadow: 0px 0px 10px 1px $light_grey;

                        .dropdown_item {
                            display: flex;
                            align-items: center;
                            color: $black;
                            &:focus {
                                background-color: $active_border_color;
                            }
                        }

                        .divider {
                            background-color: $light_grey;
                            opacity: 0.3;
                        }
                    }

                    .dropDownIcon {
                        color: $red;
                        font-size: 12px;
                        padding-right: 8px;
                    }
                    .dropDownIcon2 {
                        color: $active;
                        font-size: 12px;
                        padding-right: 8px;
                    }
                    .dropDownIcon3 {
                        color: $inactive;
                        font-size: 12px;
                        padding-right: 8px;
                    }
                }
            }
            .btn {
                background: $primary_color;
                color: $white;
                font-size: 15px !important;
                font-weight: 400;
                padding-block: 12px;
                padding-inline: 20px;
                border-radius: 10px;
                border: 1px solid $primary_color;
                margin-left: 15px;
                &:hover {
                    border-color: transparent;
                }
                &:focus {
                    border-color: transparent !important;
                }
                .icon {
                    font-size: 15px;
                    color: $white;
                    padding-right: 5px;
                }
            }
             .filterbtn {
                margin-left: 15px;
                .dropdown {
                    .dropdown_toggle {
                        display: flex;
                        align-items: center;
                        color: $white;
                        font-size: 16px;
                        padding-inline: 6px;
                        background-color: $primary_color;
                        border: 1px solid $border_color2;
                        padding-inline: 22px;
                        padding-block: 12px;
                        border-radius: 10px;
                        &::after {
                            content: none;
                        }
                        .icon{
                        font-size: 14px;
                        color: $white;
                        padding-right: 5px;
                        }
                        .selectedLabel {
                            font-size: 15px;
                            font-weight: 500;
                            color: $white;
                            padding-right: 5px;
                        }
                    }

                    .dropdown_menu {
                        width: 375px;
                        border: none;
                        box-shadow: 0px 0px 10px 1px $light_grey;
                        position: relative;
                        inset: 0px 0px auto auto !important;
                       .cross{
                        position: absolute;
                        top: 10px;
                        right: 15px;

                        .icon{
                            font-size: 20px;
                            color: $black;
                            }
                        }
                        .dropdown_item {
                            display: flex;
                            align-items: center;
                            color: $black;
                            
                            &:focus {
                                background-color: transparent;
                            }
                            &:active {
                                background-color: transparent;
                            }
                             &:hover {
                                background-color: transparent;
                            }

                            .created{
                                padding-top: 10px;
                                .lable{
                                    font-size: 16px;
                                    color: $black2;
                                    font-weight: 500;
                                    padding-bottom: 10px;
                                }
                            }
                        }

                        .divider {
                            background-color: $light_grey;
                            opacity: 0.3;
                        }
                        .viewBtns{
                            padding-inline: 15px;
                            padding-block: 10px;
                             .cancelBtn {
                                width: 100%;
                                background: $white !important;
                                color: $primary_color !important;
                                font-size: 14px !important;
                                font-weight: 500 !important;
                                padding-block: 5px;
                                border-radius: 10px;
                                border: 1px solid $primary_color;
                                &:hover {
                                    border-color: transparent;
                                }
                                &:focus {
                                    border-color: transparent !important;
                                }
                                .icon {
                                    font-size: 15px;
                                    color: $white;
                                    padding-right: 5px;
                                }
                            }
                            .applyBtn {
                                width: 100%;
                                background: $primary_color;
                                color: $white;
                                font-size: 14px !important;
                                font-weight: 400;
                                padding-block: 5px;
                                border-radius: 10px;
                                border: 1px solid $primary_color;
                                &:hover {
                                    border-color: transparent;
                                }
                                &:focus {
                                    border-color: transparent !important;
                                }
                                .icon {
                                    font-size: 15px;
                                    color: $white;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .listHeaders {
        margin-top: 20px;
        table {
            border-collapse: separate;
            thead {
                tr {
                    th {
                        color: $primary_color;
                        padding-block: 20px;
                        .heading {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            h4 {
                                font-size: 14px;
                                font-weight: 600;
                                color: $primary_color;
                                margin-bottom: 0px;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                        }
                        &:last-child {
                            .heading {
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding-block: 20px;
                        .userImage{
                            height: 30px;
                            width: 30px;
                            border-radius: 20px;
                            overflow: hidden;
                            .image{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                         .userNoImage{
                            height: 30px;
                            width: 30px;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            p{
                                font-size: 15px;
                                color: $white;
                                font-weight: 500;
                            }
                        }

                        .listText {
                            font-size: 16px;
                            font-weight: 400;
                            color: $black;
                            cursor: pointer;
                            margin-bottom: 0 !important;
                        }

                        .listText1 {
                            font-size: 16px;
                            font-weight: 400;
                            color: $black;
                            cursor: pointer;
                            text-transform: capitalize;
                            margin-bottom: 0 !important;
                            &:hover {
                                color: $primary_color;
                            }
                        }

                        .tagMain {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            cursor: pointer;
                            .successTag {
                                font-size: 11px;
                                font-weight: 600;
                                color: $white;
                                background-color: $Ggreen;
                                padding-inline: 10px;
                                border-radius: 20px;
                            }
                            .cancelTag {
                                font-size: 11px;
                                font-weight: 600;
                                color: $white;
                                background-color: $inactive;
                                padding-inline: 10px;
                                border-radius: 20px;
                            }
                            .pendingTag {
                                font-size: 11px;
                                font-weight: 600;
                                color: $white;
                                background-color: $yellow;
                                padding-inline: 10px;
                                border-radius: 20px;
                            }
                        }

                        // .dropdown {
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        //     .dropdown_menu {
                        //         border: none;
                        //         box-shadow: 0px 0px 10px 1px $light_grey;
                        //         .dropdown_item {
                        //             display: flex;
                        //             align-items: center;
                        //             color: $black2;
                        //             &:hover {
                        //                 color: $primary_color;
                        //             }
                        //             &:focus {
                        //                 background-color: $active_border_color;
                        //             }
                        //         }
                        //         .divider {
                        //             background-color: $light_grey;
                        //             opacity: 0.3;
                        //         }
                        //     }
                        //     .dropDownView {
                        //         color: $rss;
                        //         font-size: 14px;
                        //         padding-right: 8px;
                        //     }
                        //     .dropDownEdit {
                        //         color: $skype;
                        //         font-size: 14px;
                        //         padding-right: 8px;
                        //     }
                        //     .iconDelete {
                        //         color: $pinterest;
                        //         font-size: 14px;
                        //         padding-right: 8px;
                        //     }
                        //     .dropdown_toggle {
                        //         padding: 0px !important;
                        //         border: none;
                        //         &::after {
                        //             content: none;
                        //         }
                        //         .icon{
                        //             color: $grey;
                        //             font-size: 16px;
                        //             height: 20px;
                        //             width: 15px;
                        //             background-color:transparent;
                        //         }
                        //     }
                        // }
                        .action{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .dropDownView {
                                color: $skype;
                                font-size: 16px;
                                padding-inline: 5px;
                            }

                            .dropDownEdit {
                                color: $Ggreen;
                                font-size: 16px;
                                padding-inline: 5px;
                            }
                            .iconDelete {
                                color: $pinterest;
                                font-size: 15px;
                                padding-inline: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1399px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
}

/* Smaller phones */
@media (max-width: 360px) {
}
