@import '../base/variable.scss';
@import '../base/mixins.scss';

.main{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px $primary_color;
    .header{
        border-bottom: 1px solid $light_grey;
        padding-inline: 40px;
        .heading{
        font-size: 18px;
        font-weight: 600;
        color: $black2;
        padding-block: 15px;
        }
    }
   
    .infoMain{
        padding-block: 10px;
        padding-inline: 40px;
        .row{
            display: flex;
            padding-block: 10px;
            .col1{
                flex: 0.3;
             .title{
                font-size: 16px;
                color: $black2;
                font-weight: 600;
             }
            }
            .col2{
                 flex: 0.7;
                .disc{
                font-size: 16px;
                color: $black2;
                font-weight: 400;
                }
                .tag{
                    display: flex;
                    .active{
                        font-size: 12px;
                        font-weight: 600;
                        color: $white;
                        background-color: $Ggreen;
                        padding-inline: 10px;
                        border-radius: 20px;
                    }
                    .inactive {
                        font-size: 12px;
                        font-weight: 600;
                        color: $white;
                        background-color: $inactive;
                        padding-inline: 10px;
                        border-radius: 20px;
                    }
                }
            }
        }
       
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1399px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
}

/* Smaller phones */
@media (max-width: 360px) {
}
