@import '../base/variable.scss';
@import '../base/mixins.scss';

.main {
    padding-inline: 50px;
    .imgMain{
        width: 200px;
        height: 169px;
        margin: 0 auto;
        .image{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
  .title{
    font-size: 28px;
    color: $primary_color;
    font-weight: 600;
    padding-top: 20px;
  }
  .disTxt{
    font-size: 16px;
    color: $black;
    font-weight: 400;
    padding-top: 10px;
  }
   .form{
        padding-top: 20px;
        .form_group{
            margin-bottom: 15px;
            position: relative;
            .iconView {
                position: absolute;
                top: 44px;
                left: 12px;
                .icon {
                    font-size: 14px;
                    color:  $icon_color ;
                    transition: all 0.3s;
                }
                .iconActive {
                    transition: all 0.3s;
                    font-size: 15px;
                    color: $primary_color ;
                }
            }
        }
        .viewBtn {
            padding-top: 20px;
            .btnBack {
                width: 100%;
                background: $white !important;
                color: $primary_color !important;
                font-size: 14px;
                font-weight: 600;
                padding-block: 10px;
                border-radius: 4px;
                border: 2px solid $primary_color !important;
                &:hover{
                    border-color: transparent;
                }
                &:focus{
                    border-color: transparent !important;
                }
         }
            .btn {
                width: 100%;
                background: $primary_color;
                color: $white ;
                font-size: 14px;
                font-weight: 600;
                padding-block: 10px;
                border-radius: 4px;
                border: 1px solid $primary_color;
                &:hover{
                    border-color: transparent;
                }
                &:focus{
                    border-color: transparent !important;
                }
         }
      }
   }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1399px) {
  
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) { 
   
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
 
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {

}

/* Smaller phones */
@media (max-width: 360px) {

}