@import '../base/variable.scss';

.main {
    // width: 100%;
    background-color: $background;
    padding-block: 20px;
    margin-inline: 10px;

    .title {
        color: $black;
        font-size: 22px;
        font-weight: 600;
    }

    .inputRow {
        display: flex;
        align-items: center;

        .form_group {
            position: relative;
            width: 100%;

            .form_control {
                box-shadow: 0px 0px 5px $light_grey;
                height: 50px;
                padding-left: 44px !important;
                color: $black !important;
                font-size: 16px !important;
                border-radius: 10px !important;
                border: 1px solid transparent !important;

                &:focus {
                    border: none;
                    box-shadow: 0px 0px 5px $light_grey !important;
                }

                &::placeholder {
                    color: $placeholder !important;
                    font-size: 15px;
                }
            }

            .iconView {
                position: absolute;
                top: 14px;
                left: 16px;

                .icon {
                    font-size: 16px;
                    color: $icon_color ;
                }
            }
        }

        .btn {
            width: 25%;
            background: $primary_color;
            color: $white ;
            font-size: 14px;
            font-weight: 600;
            padding-block: 12px;
            border-radius: 4px;
            border: 1px solid $primary_color;
            margin-left: 10px;

            &:hover {
                border-color: transparent;
            }

            &:focus {
                border-color: transparent !important;
            }

            .icon {
                font-size: 15px;
                color: $white;
                padding-right: 5px;
            }
        }
    }

    .rightSide {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nofification {
            position: relative;
            margin-right: 40px;

            .icon {
                position: relative;
                font-size: 26px;
                color: $black;
            }

            .countMain {
                position: absolute;
                z-index: 3;
                bottom: 22px;
                left: 12px;
                height: 18px;
                width: 18px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary_color;

                .count {
                    font-size: 10px;
                    font-weight: 600;
                    color: $white;
                }
            }
        }

        .imgProfile {
            width: 55px;
            height: 55px;
            border-radius: 30px;
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            object-fit: contain;

            .image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}



/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .main {
        margin-top: 120px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .main {
        margin-top: 120px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .main {
        margin-top: 120px;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .main {
        margin-top: 120px;

        .rightSide {
            .nofification {
                margin-right: 20px;
            }

            .imgProfile {
                width: 45px;
                height: 45px;
            }
        }
    }
}