@import '../base/variable.scss';
@import '../base/mixins.scss';

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   justify-content: center;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../../../public/images/loginImg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: blur(5px);
      z-index: -1;
   }


   .mainContainer {
      background-color: $background;
      border-radius: 3px;
      width: 26%;
      -webkit-box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.53);
      box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.53);
      z-index: 1;
      overflow: hidden;
      position: relative;

      .slop {
         width: 120%;
         height: 120px;
         margin-top: -20px;
         margin-left: -20px;
         background-color: $primary_color;
         transform: rotate(3deg);

      }

      .imgLogo {
         height: 70px;
         width: 70px;
         border-radius: 50%;
         border: 2px solid $primary_color;
         background-color: $white;
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         top: 63px;
         left: 0px;
         right: 0px;

         .imgMain {
            height: 48px;
            width: 48px;

            .image {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }

      .rightArea {
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 40px;


         .welcome {
            font-size: 28px;
            color: $primary_color;
            font-weight: 700;
            text-align: center;
            padding-top: 20px;
         }

         .loginText {
            font-size: 18px;
            color: $black;
            font-weight: 600;
            text-align: center;
         }

         .form {
            padding-top: 50px;
            padding-inline: 30px;

            .form_group {
               margin-bottom: 15px;
               position: relative;

               .iconView {
                  position: absolute;
                  top: 44px;
                  left: 12px;

                  .icon {
                     font-size: 14px;
                     color: $icon_color ;
                     transition: all 0.3s;
                  }

                  .iconActive {
                     transition: all 0.3s;
                     font-size: 15px;
                     color: $primary_color ;
                  }
               }

               .iconEye {
                  position: absolute;
                  top: 44px;
                  right: 12px;

                  .icon {
                     font-size: 15px;
                     color: $icon_color ;
                  }
               }
            }

            .checkBoxMain {
               display: flex;
               align-items: center;
               justify-content: space-between;

               .forgot {
                  font-size: 14px;
                  color: $black;
                  font-weight: 400;
                  text-align: center;
                  cursor: pointer;

                  &:hover {
                     color: $primary_color;
                  }
               }
            }

            .viewBtn {
               display: flex;
               justify-content: center;
               padding-top: 20px;

               .btn {
                  width: 100%;
                  background: $primary_color;
                  color: $white ;
                  font-size: 14px;
                  font-weight: 600;
                  padding-block: 10px;
                  border-radius: 4px;
                  border: 1px solid $primary_color;

                  &:hover {
                     border-color: transparent;
                  }

                  &:focus {
                     border-color: transparent !important;
                  }
               }
            }

            .years {
               font-size: 16px;
               color: $black;
               font-weight: 400;
               text-align: center;
               padding-top: 30px;

               span {
                  color: $primary_color;
                  font-weight: 600;
               }
            }
         }
      }
   }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
   .main {

      .mainContainer {
         width: 36%;
      }
   }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
   .main {

      .mainContainer {
         width: 36%;
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399px) {
   .main {

      .mainContainer {
         width: 36%;
      }
   }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   .main {

      .mainContainer {
         width: 46%;
      }
   }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
   .main {

      .mainContainer {
         width: 65%;
      }
   }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
   .main {
      .mainContainer {
         width: 65%;
      }
   }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
   .main {
      .mainContainer {
         width: 92%;

         .rightArea {
            .form {
               padding-inline: 5px;
            }
         }
      }
   }
}

/* Smaller phones */
@media (max-width: 360px) {
   .main {
      .mainContainer {
         width: 92%;

         .rightArea {
            padding: 20px;
            .form {
               padding-inline: 5px;
            }
         }
      }
   }
}