@import '../base/variable.scss';
@import '../base/mixins.scss';

.main {
    padding-inline: 50px;
    .imgMain{
        width: 200px;
        height: 169px;
        margin: 0 auto;
        .image{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
  .title{
    font-size: 28px;
    color: $primary_color;
    font-weight: 600;
    padding-top: 20px;
  }
  .disTxt{
    font-size: 16px;
    color: $black;
    font-weight: 400;
    padding-top: 10px;
  }
   .form{
        padding-top: 20px;
        .form_group{
            margin-bottom: 15px;
            position: relative;
            .inputStyle{
                height: 50px;
                width: 50px !important;
                border: 1px solid $border_color;
                border-radius: 4px;
                &:focus{
                    outline: none;
                    border: 2px solid  $active_border_color !important;
                }
            }
        }
        .resendOtp{
            font-size: 14px;
            color: $black;
            font-weight: 400;
            text-align: right;
            cursor: pointer;
            &:hover{
                color: $primary_color;
            }
        }
        .viewBtn {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            .btn {
                width: 100%;
                background: $primary_color;
                color: $white ;
                font-size: 14px;
                font-weight: 600;
                padding-block: 10px;
                border-radius: 4px;
                border: 1px solid $primary_color;
                &:hover{
                    border-color: transparent;
                }
                &:focus{
                    border-color: transparent !important;
                }
         }
      }
   }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1399px) {
  
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) { 
   
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
 
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {

}

/* Smaller phones */
@media (max-width: 360px) {

}