@import '../base/variable.scss';
@import '../base/mixins.scss';

.main {
    border-radius: 5px;
    min-height: 100vh;
    margin-bottom: 50px;

    .rowMain {
        display: flex !important;
        flex-wrap: wrap;

        .mainImg {
            background-color: $white;
            box-shadow: 0px 0px 15px -7px $primary_color;
            width: 100%;
            height: 450px;
            margin-bottom: 10px;
            border-radius: 4px;
            overflow: hidden;

            .image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .imgRow {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            border: 1px solid $active_border_color;
            border-radius: 4px;
            overflow: hidden;

            .imgView {
                height: 150px;
                width: 150px;
                overflow: hidden;
                border-radius: 4px;
                margin-right: 10px;

                .image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .rightArea {
            height: 100%;
            //    background-color: $light_yellow;
            //    box-shadow: 0px 0px 15px -7px $primary_color;
            padding-left: 20px;

            //    border-radius: 4px;
            .title {
                font-size: 24px;
                color: $black2;
                font-weight: 600;
            }

            .ratingRow {
                display: flex;
                align-items: center;

                //    background-color: grey;
                .rating {
                    font-size: 14px;
                    color: $black2;
                    font-weight: 600;
                    padding-left: 5px;
                }
            }

            .veg {
                font-size: 14px;
                color: $white;
                font-weight: 400;
                background-color: $Ggreen;
                display: inline-block;
                padding-inline: 5px;
                border-radius: 5px;
            }

            .nonVeg {
                font-size: 14px;
                color: $white;
                font-weight: 400;
                background-color: $red;
                display: inline-block;
                padding-inline: 5px;
                border-radius: 5px;
            }

            .activeMain {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .dotactive {
                    height: 10px;
                    width: 10px;
                    border-radius: 5px;
                    background-color: $active;
                }
                .dotdeactive {
                    height: 10px;
                    width: 10px;
                    border-radius: 5px;
                    background-color: $inactive;
                }


                .active {
                    font-size: 14px;
                    color: $black2;
                    font-weight: 600;
                    padding-left: 6px;
                }
            }



            .line {
                width: 100%;
                height: 1px;
                background-color: $light_grey;
                margin-block: 10px;
            }

            ul {
                margin-top: 10px;

                li {
                    font-size: 15px;
                    color: $black2;
                    font-weight: 400;
                    line-height: 26px;
                }
            }

            .ingreTxt {
                font-size: 16px;
                color: $black2;
                font-weight: 600;
            }


            .descriptionTitle {
                font-size: 16px;
                color: $black2;
                font-weight: 600;
            }

            .description {
                font-size: 14px;
                color: $black2;
                font-weight: 400;
                line-height: 28px;
                padding-top: 10px;
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {}

/* Smaller phones */
@media (max-width: 360px) {}