@import "../base/variable.scss";

.main {
    position: fixed;
    height: 100%;
    width: 17%;
    overflow-y: auto;
    background-color: $background;

    .navbar {
        flex-wrap: wrap;
        background-color: $background;

        .navbarHeader {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;

            .viewImg {
                height: 60px;
                width: 60px;

                .image {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .title {
                font-size: 18px;
                color: $black;
                font-weight: 600;
                // padding-left: 10px;
            }

        }

        .toggleBtn {
            margin-right: 21px !important;
        }

        .navItem {
            width: 100%;

            .menuMain {
                padding-top: 20px;
                width: 100%;

                ul {
                    padding-inline: 21px;

                    .listActive {
                        font-size: 15px;
                        color: $white;
                        font-weight: 600;
                        margin-bottom: 0px;
                        margin-block: 18px;
                        padding-block: 6px;
                        padding-left: 10px;
                        background-color: $light_yellow1;
                        border-radius: 30px;
                        border-left: 5px solid $primary_color;
                        border-right: 5px solid $primary_color;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        a {
                            text-decoration: none;
                            color: $white;
                        }

                        .arrowDown {
                            color: $white;
                            font-size: 15px;
                        }

                        .row {
                            width: 100%;
                            display: flex;
                            flex-direction: row;

                            a {
                                display: flex;
                                align-items: center;
                                width: 100%;
                            }

                            .left {
                                flex: 0.14;

                                .viewIcon {
                                    background-color: $white;
                                    width: 28px;
                                    height: 28px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 20px;

                                    .icon {
                                        color: $primary_color ;
                                        font-size: 14px;
                                    }
                                }
                            }

                            .right {
                                flex: 0.86;

                                .itemtxt {
                                    color: $primary_color ;
                                    font-size: 15px;
                                    font-weight: 600;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }

                    .listInactive {
                        background-color: $background;
                        font-size: 15px;
                        list-style: none;
                        margin-bottom: 0px;
                        margin-block: 18px;
                        padding-block: 6px;
                        padding-left: 10px;
                        border-radius: 25px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-left: 5px solid $background;
                        border-right: 5px solid $background;
                        border-radius: 30px;

                        a {
                            text-decoration: none;
                            color: $black;
                            display: flex;
                            align-items: center;
                            width: 100%;
                        }

                        .row {
                            width: 100%;
                            display: flex;
                            flex-direction: row;

                            .left {
                                flex: 0.14;

                                .viewIcon {
                                    background-color: $background;
                                    width: 28px;
                                    height: 28px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 20px;

                                    .icon {
                                        color: $black ;
                                        font-size: 14px;
                                    }
                                }
                            }

                            .right {
                                flex: 0.86;

                                .itemtxt {
                                    color: $black ;
                                    font-size: 15px;
                                    font-weight: 500;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }

                    // .listInactive:hover{
                    //     border-left: 5px solid #5149E5;
                    //     border-right: 5px solid #5149E5;
                    //     border-radius: 30px !important;
                    //     background-color: #DCDBFA;
                    //     color:#5149E5 !important;
                    //     font-size: 15px;
                    //     font-weight: 600; 
                    //     padding-block: 6px;
                    // }
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light_purple;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $background
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {
    .main {
        width: 18%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .main {
        width: 22%;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .main {
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;

        .navbar {
            position: fixed;
            width: 100%;
            z-index: 999;
            padding-block: 20px;
            padding-inline: 10px;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);

            .navbarHeader {
                width: 80%;
                justify-content: flex-start;
            }
        }

        .menuMain {
            padding-top: 20px;
            overflow: auto;
            height: 901px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .main {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        z-index: 999;

        .navbar {
            position: fixed;
            width: 100%;
            z-index: 999;
            padding-block: 20px;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);

            .navbarHeader {
                width: 75%;
                justify-content: flex-start;
            }
        }

        .menuMain {
            height: 252px;
            overflow: auto;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .main {
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;

        .navbar {
            position: fixed;
            width: 100%;
            z-index: 999;
            padding-block: 20px;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);

            .navbarHeader {
                width: 65%;
                justify-content: flex-start;

                .viewImg {
                    height: 55px;
                    width: 88px;
                }
            }
        }

        .menuMain {
            padding-top: 20px;
            overflow: auto;
            height: 562px;
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .main {
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;

        .navbar {
            position: fixed;
            width: 100%;
            z-index: 999;
            padding-block: 20px;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);

            .navbarHeader {
                width: 60%;
                justify-content: flex-start;

                .viewImg {
                    height: 55px;
                    width: 88px;
                }
            }
        }

        .menuMain {
            padding-top: 20px;
            overflow: auto;
            height: 535px;
        }
    }
}



