/* Custom CSS to increase the text size in the editor */
.ql-editor {
  font-size: 14px;
  /* Adjust the size as needed */
}
.ql-toolbar.ql-snow{
  border-radius: 5px 5px 0px 0px;
}
.ql-container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 120px;
  margin: 0px;
  position: relative;
  border : 1px solid rgb(201, 201, 200);
  border-radius: 0px 0px  5px 5px;
}
