@import '../base/variable.scss';
@import '../base/mixins.scss';

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imageIconMain{
        position: relative;
        .img_area{
            height: 210px;
            width: 210px;
            border-radius: 50%;
            overflow: hidden;
            .image{
                height: 100% !important;
                width: 100% !important;
                object-fit:cover;
                }
       }
       .iconMain {
            position: absolute;
            z-index: 1;
            bottom: 6px;
            right: 18px;
            height: 35px;
            width: 35px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            .editImageMain {
                height: 26px;
                width: 26px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary_color;
                .icon {
                    font-size: 14px;
                    color: $white;
                }
            }
        }
    }
    .progressbar{
       padding-block: 10px;
    }
}



/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .main{
    .imageIconMain{
        position: relative;
        .img_area{
            height: 180px;
            width: 180px;
       }
       .iconMain {
            bottom: 6px;
            right: 18px;
            height: 30px;
            width: 30px;
            .editImageMain {
                height: 22px;
                width: 22px;
                .icon {
                    font-size: 11px;
                }
            }
        }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
  .main{
    .imageIconMain{
        position: relative;
        .img_area{
            height: 150px;
            width: 150px;
       }
       .iconMain {
            bottom: 0px;
            right: 18px;
            height: 30px;
            width: 30px;
            .editImageMain {
                height: 22px;
                width: 22px;
                .icon {
                    font-size: 11px;
                }
            }
        }
    }
  }
}

/* Smaller phones */
@media (max-width: 360px) {
  .main{
    .imageIconMain{
        position: relative;
        .img_area{
            height: 150px;
            width: 150px;
       }
       .iconMain {
            bottom: 0px;
            right: 18px;
            height: 30px;
            width: 30px;
            .editImageMain {
                height: 22px;
                width: 22px;
                .icon {
                    font-size: 11px;
                }
             }
         }
      }
   }
}