@import '../base/variable.scss';
@import '../base/mixins.scss';

.main{
    
    .rowMain{
       display: flex !important;
       flex-wrap: wrap;
      .profileContainer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          border-radius: 5px;
          box-shadow: 0px 0px 15px -7px $primary_color;
          background-color: $white;
          padding-block: 30px;
          .profileMain{
              height: 180px;
              width: 180px;
              border-radius: 50%;
              overflow: hidden;
              .image{
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
              }
          }
          .tag{
            background-color: $lightYellow;
            padding-inline: 10px;
            border-radius: 5px;
            margin-top: 15px;
            p{
                font-size: 14px;
                color: $yellow;
                font-weight: 600;
            }
          }
          .title{
              font-size: 18px;
              color: $black2;
              font-weight: 600;
              text-align: center;
              padding-top: 10px;
          }
      }
      .profileInfoBox{
          background-color: $white;
          border-radius: 5px;
          box-shadow: 0px 0px 15px -7px $primary_color;
          height: 100%;
          padding-inline: 20px;
          padding-block: 15px;
          .row{
              display: flex;
              align-items: center;
              padding-block: 10px;  
              .left{
                  display: flex;
                  align-items: center;
                  flex: 0.4;
                  .icon{
                  font-size: 16px;
                  color: $primary_color;
                  }
                  .titleTxt{
                    font-size: 16px;
                    color: $black2;
                    font-weight: 400;
                    padding-left: 10px;
                  }
              } 
              .right{
                  flex: 0.6;
                  .infoTxt{
                      font-size: 16px;
                      color: $black2;
                      font-weight: 400;
                  }
                  .tag{
                      display: flex;
                      align-items: center;
                      .activeTag{
                         font-size: 12px;
                         font-weight: 600;
                         border-radius: 8px;
                         padding-inline: 10px;
                         color: $white;
                         background-color: $Ggreen;
                      }
                      .deactiveTag{
                         font-size: 12px;
                         font-weight: 600;
                         border-radius: 8px;
                         padding-inline: 10px;
                         color: $white;
                         background-color: $red;
                      }
                  }
              }
          }
      }
    }
}